{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 4,
                "useTabs": false,
                "trailingComma": "es5"
            }
        }
    ]
}
